body{
    background-color: #283149;;
    color: rgb(139, 0, 23);
    text-align: center;
}
h1{
    font-size: 5rem;
    color: white;
    text-shadow:3px 0 #DA0463 ;
    word-spacing: 40px;    
}
.w {
    background-image: url("tom1.png");
  }
  
  .a {
    background-image: url("tom2.png");
  }
  
  .s {
    background-image: url("tom3.png");
  }
  
  .d {
    background-image: url("tom4.png");
  }
  
  .j {
    background-image: url("snare.png");
  }
  
  .k {
    background-image: url("crash.png");
  }
  
  .l {
    background-image: url("kick.png");
  }
  .set{
    margin: 10% auto;
  }
  .drum{
    outline: none;
    border: 10px solid rgb(150, 150, 244);
    font-size: 5rem;
    line-height: 2;
    font-weight: 900;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 150px;
  
  }
